<div class="m-entry-banner">

    <div style="width: 400px: height: 300px; position: absolute; top: 100px; left: 100px; z-index: 900;">
        <h1>{{ title }}</h1>
        <h5>{{ subtitle }}</h5>
        <p>{{ skills }}</p>
    </div>

    {{ if hero_video }}
        <video src="{{ hero_video }}" class="m-entry-banner__bg" autoplay loop muted></video>
    {{ /if }}

    {{ if hero_image }}
        <img src="{{ hero_image }}" class="m-entry-banner__bg" />
    {{ /if }}

    <div class="clear"></div>
</div>
