<section class="l-hero-wrap">
    <div class="m-home-logo__logo-wrap">
        <img class="m-home-logo__logo" src="{{ logo }}" width="" height="">
    </div>

    <div class="m-overlay"></div>

    <div class="m-astronaut__wrap">
        <img id="astronaut" class="m-astronaut__astronaut" src="{{ intro_image }}" width="" height=""/>
    </div>

    <div class="m-astronaut__connection"></div>

    <div class="m-moon m-moon__wrap">
        <img src="{{ moon }}" class="m-moon m-moon__img" />
    </div>

    <div class="m-social">
        <ul class="m-social__list">
            <li class="m-social__item">
                <a href="{{ behance:url }}" target="_blank" class="m-social__link m-social__link--behance"><img src="{{ behance:icon }}" width="" height=""/></a>
            </li>
            <li class="m-social__item">
                <a href="{{ linkedin:url }}" target="_blank" class="m-social__link m-social__link--linkedin"><img src="{{ linkedin:icon }}" width="" height=""/></a>
            </li>
            <li class="m-social__item">
                <a href="{{ instagram:url }}" target="_blank" class="m-social__link m-social__link--instagram"><img src="{{ instagram:icon }}" width="" height=""/></a>
            </li>
            <li class="m-social__item">
                <a href="{{ twitter:url }}" target="_blank" class="m-social__link m-social__link--twitter"><img src="{{ twitter:icon }}" width="" height=""/></a>
            </li>
            <li class="m-social__item">
                <a href="{{ facebook:url }}" target="_blank" class="m-social__link m-social__link--facebook"><img src="{{ facebook:icon }}" width="" height=""/></a>
            </li>
        </ul>
    </div>

    <section class="m-hero-bg m-hero-bg__wrap">
        <img src="{{ vector_bg }}" class="m-hero-bg__layer m-hero-bg__layer--z300" style="opacity: 0.8"/>
        <div id="particles-js" class="m-hero-bg__layer m-hero-bg__layer--z200"></div>
        <img src="{{ space_bg }}" class="m-hero-bg__layer m-hero-bg__layer--z100" />
    </section>

    <div class="clear"></div>
</section>
