<div class="l-hero-wrap">
    {{ if intro_video }}
        <video
                {{ if template == 'home' }}v-if="logoHovering"{{/if }}
                src="{{ intro_video }}" class="m-hero-bg m-hero-bg--vid" autoplay loop>
        </video>
    {{ /if }}

    {{ if intro_image }}
        <img src="{{ intro_image }}" class="m-hero-bg m-hero-bg--img" />
    {{ /if }}


    <div class="m-logo-wrap">
        <div class="m-logo-container" v-on:mouseover="logoHover" v-on:mouseout="logoHover">
            <img src="{{ logo }}">
        </div>
    </div>

</div>
