<nav class="m-navbar">
    <section class="m-main-nav m-main-nav__wrap">
            <ul class="m-main-nav__ul">
                <!--<li class="m-main-nav__link">
                    <a href="https://www.behance.net/alexcraned6811" target="_blank">WORK</a>
                </li>
                <li class="m-main-nav__link">
                    <a href="#">CONTACT</a>
                </li>-->
                <li class="m-main-nav__link">
                    <a href="#" @click="toggleNav">MENU</a>
                </li>
            </ul>
    </section>
</nav>

<section class="m-nav-overlay" v-bind:class="{ 'm-nav-overlay--visible': navOpen }">

</section>



