<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dissonant Dreamland | Alex Crane">
    <title>{{ title }}  |  {{ site_name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme:css }}">
</head>

<body>
    <section id="app">
        <section class="l-page-wrap" v-scroll="appScroll">
            {{ partial:nav }}

            {{ template_content }}
        </section>

        {{ partial:footer }}
    </section>

    <script src="https://unpkg.com/intersection-observer@0.1.1"></script>
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-observe-visibility@0.3.1"></script>
    <script src="{{ theme:js }}"></script>

</body>
</html>
