//------------------------------------
//    #Hero Image
//------------------------------------


.m-home-logo {
  @include e(wrap) {
    width: 35%;
    height: auto;
    position: fixed;
    top: 20%;
    right: 20%;
    margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
    z-index: 500;
    text-align: center;
      transition: right 0.5s ease-in-out, margin-right 0.5s ease-in-out;
  }
  @include e(logo) {
    height: 360px;
    margin: 0 auto;
  }
  @include e(astronaut) {
    height: 360px;
    position: fixed;
    top: 20%;
    right: -20px;
    margin: 0;
    z-index: 500;
    padding-top: 18px;
  }
}

.m-moon {
  width: 100%;
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
  @include e(wrap) {
    height: 34%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow: hidden;
  }
  @include e(img) {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.m-hero-bg {
  @include e(wrap) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  @include e(layer) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: transparent;
    @include m(z100) {
      z-index: 100;
    }
    @include m(z200) {
      z-index: 200;
    }
    @include m(z300) {
      z-index: 300;
    }
  }
}

.m-social {
  width: 60px;
  height: 80%;
  position: fixed;
    left: 0;
    bottom: 0;
  background-color: rgba($base-red, 0.5);
  z-index: 2000;
  @include e(list) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  @include e(item) {
    padding: 24px 14px 0 14px;

  }
  @include e(link) {
    @include m(behance) {
      & img {
        width: 100%;
      }
    }
  }
  @include e(link) {
    @include m(linkedin) {
      & img {
        width: 26px;
      }
    }
  }
  @include e(link) {
    @include m(instagram) {
      & img {
        width: 28px;
      }
    }
  }
  @include e(link) {
    @include m(twitter) {
      & img {
          width: 100%;
      }
    }
  }
  @include e(link) {
    @include m(facebook) {
      & img {
        width: 18px;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet-large) {
  .m-home-logo {
    @include e(wrap) {
        width: 80%;
      max-width: 375px;
      height: auto;
      position: fixed;
      right: 50%;
      margin-right: -20%;
    }
    @include e(logo) {
    }
    @include e(astronaut) {
    }
  }
}

@media (max-width: $breakpoint-tablet) {
    .m-home-logo {
        @include e(wrap) {
            width: auto;
            height: auto;
            top: 0;
            right: 0;
            float: right;
            margin-top:20px;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
        }
        @include e(logo) {
            height: 240px;
            margin: 0;
        }
        @include e(astronaut) {
            top: 260px;
        }
    }
    .m-moon {
        opacity: 0;
    }
    .m-social {
        height: 100%;
    }
}