//------------------------------------
//    #Hero Image
//------------------------------------

.m-home-logo {
    @include e(logo-wrap) {
        width: 70%;
        height: auto;
        position: relative;
        margin: 0 5% 0 25%;
        padding: 20px 0 0 0;
    }
    @include e(logo) {
        width: 100%;
        max-width: 374px;
        height: auto;
        display: block;
        position: relative;
        margin: 0 auto;
        z-index: 1000;
        transition: margin 0.5s ease-in-out;
    }
}
    
.m-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( $dark-gray, 0.45);
    background-blend-mode: multiply;
    z-index: 900;
}

.m-astronaut {
    @include e(wrap) {
        width: 50%;
        height: auto;
        position: absolute;
        top: 45%;
        right: -20px;
        padding: 40px 0 0 0;
        z-index: 500;
    }
    @include e(astronaut) {
        width: 100%;
        height: auto;
        margin: 0;
        position: relative;
        z-index: 500;
        transition: margin 0.5s ease-in-out;
    }
}

.m-moon {
    width: 100%;
    z-index: 800;
    @include e(wrap) {
        height: 20%;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
    }
    @include e(img) {
        width: 100%;
        height: auto;
        position: relative;
        z-index: inherit;
    }
}

.m-hero-bg {
    @include e(wrap) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
    @include e(layer) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: transparent;
        border: none;
        @include m(z100) {
            z-index: 100;
        }
        @include m(z200) {
            z-index: 200;
        }
        @include m(z300) {
            z-index: 300;
        }
    }
}

.m-social {
    width: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($dark-gray, 0.5);
    z-index: 2000;
    @include e(list) {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    @include e(item) {
        display: inline-block;
        padding: 24px 14px 0 14px;

    }
    @include e(link) {
        @include m(behance) {
            & img {
                width: 100%;
            }
        }
    }
    @include e(link) {
        @include m(linkedin) {
            & img {
                width: 26px;
            }
        }
    }
    @include e(link) {
        @include m(instagram) {
            & img {
                width: 28px;
            }
        }
    }
    @include e(link) {
        @include m(twitter) {
            & img {
                width: 100%;
            }
        }
    }
    @include e(link) {
        @include m(facebook) {
            & img {
                width: 18px;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {

}