//------------------------------------
//    # Modifiers
//------------------------------------

// Font colors

.color-light-gray {
  color: $light-gray;
}

.color-med-gray {
  color: $med-gray;
}

.color-dark-gray {
  color: $dark-gray
}
