//------------------------------------
//    #Global Config
//------------------------------------


// Font import
//---------------------------------------------

@font-face {
    font-family: 'LessSans';
    src: url('../../../../assets/fonts/Less.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LessSans';
    src: url('../../../../assets/fonts/Less-Light.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'LessSans';
    src: url('../../../../assets/fonts/Less-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


// Font stacks
//---------------------------------------------

$font-family--work              : 'Work Sans', sans-serif;
$font-family--less              : 'LessSans', sans-serif;


// Font weights
//---------------------------------------------

$font-work--book      : 400;
$font-work--med       : 500;
$font-work--bold      : 700;

$font-less--light     : light;
$font-less--book      : normal;
$font-less--bold      : bold;


// Font sizes
//---------------------------------------------
$font-size-h1           : 6rem;
$font-size-h2           : 4rem;
$font-size-h3           : 3rem;
$font-size-h4           : 1.5rem;
$font-size-h5           : 1.5rem;
$font-size-h6           : 1.5rem;
$font-size-p            : 1.125rem;


// Line heights
//---------------------------------------------
$line-height-h1          : 1.083;
$line-height-h2          : 1.222;
$line-height-h3          : 1.127;
$line-height-h4          : 1.667;
$line-height-h5          : 1.667;
$line-height-h6          : 1.667;
$line-height-p           : 1.778;


// Colors
//---------------------------------------------

$white                  : #FFFFFF;
$black                  : #000000;

// Primary palette

$base-blue              : #ABBACD;
$base-purple            : #9a90ac;
$base-red               : #C82E5C;
$base-green              : #B9E08D;

$red-2                  : #B11F24;
$red-3                  : #8B181A;

// Grays

$light-gray               : #F2f4f5;
$med-gray                 : #596066;
$dark-gray                : #15222E;



// UI Colors
//---------------------------------------------

$btn-colors: (
    default       : $black,
    secondary     : $white
);


// Text
//---------------------------------------------

$base__font-size               : 16px;
$base__line                    : 22px;


// Path to assets
//--------------------------------------------- 

$img-path--rel                      : "../../../../assets/img/";




// Radius
//---------------------------------------------

$br--default           : 4px;
$br--three             : 3px;
$br--two               : 2px;
$br--top               : 4px 4px 0 0;
$br--left              : 4px 0 0 4px;
$br--right             : 0 4px 4px 0;
$br-bottom             : 0 0 4px 4px;
$br--bottomleft        : 0 0 0 4px;
$br--bottomright       : 0 0 4px 0;


// Shadow
//---------------------------------------------

$sh--default           : 3px 3px 2px 0px rgba(0, 0, 0, 0.5);



// Gradient
//---------------------------------------------



// Gap
//---------------------------------------------
$gap: 16px;


// Media Queries
//---------------------------------------------
$breakpoint-tablet-large: 1024px;
$breakpoint-tablet: 768px;
