//------------------------------------
//    #Mixins
//------------------------------------


// Colors
//---------------------------------------------
@mixin clear {
    clear: both;
}

// Colors
//---------------------------------------------

@mixin bg-colors($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			background-color: $color;
		}
	}
}

@mixin img-replace($img, $w, $h, $disp: block) {
    background-image: url('#{$path--rel}/#{$img}');
    background-repeat: no-reapeat;
    width: $w;
    height: $h;
    display: $disp;
}



// Pseudo elements
//---------------------------------------------

@mixin p-el (
	$el,
	$el-w: null,
	$el-h: null) {
    
    @if $el == "before" or $el== "after" {
		&:#{$el} {
			@extend %pseudos;
			width: $el-w;
			height: $el-h;
			@content
		}
    }
    @else {
        @error "'#{$sel}' is not a valid pseudo-element.";
    }
}




// BEM selectors
//---------------------------------------------

@mixin e($element) {
    &__#{$element} {
    @content;    
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
    @content;    
    }
}



// OOCSS Grid
//---------------------------------------------
@mixin unit ($margin: 0, $padding: 0, $right: 0) {
    @if $right == 0 {
        float: left;
    } @else {
        float: right;
    }
    margin: $margin;
    padding: $padding;
}

@mixin last-unit {
    margin-right: -2px;
    // oocss source, a bit more roburst:
    // display: table-cell;
    // float: none;
    // width: auto;
    // *display: block;
    // *zoom:1;
    // _position:relative;
    // _left:-3px;
    // _margin-right:-3px;
}

// Top Margins

@mixin top-16 {
    margin-top: $gap;
}

@mixin top-32 {
    margin-top: $gap * 2;
}

@mixin top-48 {
    margin-top: $gap * 3;
}

@mixin top-64 {
    margin-top: $gap * 4;
}

@mixin top-80 {
    margin-top: $gap * 5;
}

@mixin top-96 {
    margin-top: $gap * 6;
}

@mixin top-112 {
    margin-top: $gap * 7;
}

@mixin top-128 {
    margin-top: $gap * 8;
}

@mixin top-192 {
    margin-top: $gap * 12;
}

@mixin top-256 {
    margin-top: $gap * 16;
}


// Right Margins

@mixin right-16 {
    margin-right: $gap;
}

@mixin right-32 {
    margin-right: $gap * 2;
}

@mixin right-48 {
    margin-right: $gap * 3;
}

@mixin right-64 {
    margin-right: $gap * 4;
}

@mixin right-80 {
    margin-right: $gap * 5;
}

@mixin right-96 {
    margin-right: $gap * 6;
}

@mixin right-112 {
    margin-right: $gap * 7;
}

@mixin right-128 {
    margin-right: $gap * 8;
}

@mixin right-192 {
    margin-right: $gap * 12;
}

@mixin right-256 {
    margin-right: $gap * 16;
}


// Bottom Margins

@mixin bottom-16 {
    margin-bottom: $gap;
}

@mixin bottom-32 {
    margin-bottom: $gap * 2;
}

@mixin bottom-48 {
    margin-bottom: $gap * 3;
}

@mixin bottom-64 {
    margin-bottom: $gap * 4;
}

@mixin bottom-80 {
    margin-bottom: $gap * 5;
}

@mixin bottom-96 {
    margin-bottom: $gap * 6;
}

@mixin bottom-112 {
    margin-bottom: $gap * 7;
}

@mixin bottom-128 {
    margin-bottom: $gap * 8;
}

@mixin bottom-192 {
    margin-bottom: $gap * 12;
}

@mixin bottom-256 {
    margin-bottom: $gap * 16;
}


// Left Margins

@mixin left-16 {
    margin-left: $gap;
}

@mixin left-32 {
    margin-left: $gap * 2;
}

@mixin left-48 {
    margin-left: $gap * 3;
}

@mixin left-64 {
    margin-left: $gap * 4;
}

@mixin left-80 {
    margin-left: $gap * 5;
}

@mixin left-96 {
    margin-left: $gap * 6;
}

@mixin left-112 {
    margin-left: $gap * 7;
}

@mixin left-128 {
    margin-left: $gap * 8;
}

@mixin left-192 {
    margin-left: $gap * 12;
}

@mixin left-256 {
    margin-left: $gap * 16;
}


@mixin size1of1 {
    float: none;
    width: 100%;
}
@mixin size1of2 {
    width: 50%;
}
@mixin size1of3 {
    width: 33.3333%;
}
@mixin size2of3 {
    width: 66.6666%;
}
@mixin size1of4 {
    width: 25%;
}
@mixin size3of4 {
    width: 75%;
}
@mixin size1of5 {
    width: 20%;
}
@mixin size2of5 {
    width: 40%;
}
@mixin size3of5 {
    width: 60%;
}
@mixin size4of5 {
    width: 80%;
}
@mixin size1of8 {
    width: 12.5%;
}
@mixin size3of8 {
    width: 37.5%;
}
@mixin size5of8 {
    width: 62.5%;
}
@mixin size7of8 {
    width: 87.5%;
}
@mixin size1of10 {
    width: 10%;
}
@mixin size3of10 {
    width: 30%;
}
@mixin size7of10 {
    width: 70%;
}
@mixin size9of10 {
    width: 90%;
}

@mixin height-16 {
    height: $gap;
}

@mixin height-32 {
    height: $gap * 2;
}

@mixin height-48 {
    height: $gap * 3;
}

@mixin height-64 {
    height: $gap * 4;
}

@mixin height-80 {
    height: $gap * 5;
}

@mixin height-96 {
    height: $gap * 6;
}

@mixin height-112 {
    height: $gap * 7;
}

@mixin height-128 {
    height: $gap * 8;
}

@mixin height-192 {
    height: $gap * 12;
}