//------------------------------------
//    #Layout
//------------------------------------

.l-page-wrap {
	position: relative;
	overflow-y:hidden;
	overflow-x:hidden;
	height: 100%;
}

.l-hero-wrap {
	@include size1of1();
	position: relative;
	height: 100vh;
	overflow-y:hidden;
	overflow-x:hidden;
	display: block;
}

.l-content{
	position: relative;
	@include size1of1();
	height: auto;
}

.l-footer{
	position: relative;
	@include size1of1();
	height: auto;
}
