//------------------------------------
//    #Layout
//------------------------------------

.l-page-wrap {
	position: relative;
	overflow-y:hidden;
	overflow-x:hidden;
	height: 100%;
}

.l-hero-wrap {
	@include size1of1();
	position: relative;
	height: 100vh;
	overflow-y:hidden;
	overflow-x:hidden;
}

@media (max-width: $breakpoint-tablet-large) {
	.l-hero-wrap {
		height: auto;
	}
}

.l-content{
	position: relative;
	@include size1of1();
	height: auto;
	@include m(home) {
		padding-bottom: 256px;
		background-color: rgba( $black, 0.6 );
	}
	@include m(visual-entry) {
		background-color: $light-gray;
	}
}

.l-footer{
	position: relative;
	@include size1of1();
	height: auto;
}
